.inputWrapper {
  width: 100%;
}

.input{
  -webkit-appearance: none;
  border-radius: 10px;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #999;
  outline: none;

  &::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    width: 17px;
    height: 18px;
    border-radius: 10px;
    background: #FFB03B;
  }
}
.numbers{
  margin: 0 auto;
  width: 269px;
  display: flex;
  justify-content: space-between;
  span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
.valueSpan{
  color: #FFB03B;
}
